.trowser {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 100;
    transition: all 0.6s ease-out;
    transform: translateY(-100%);
}

.trowser.display {
    transition: all 0.6s ease-out;
    transform: translateY(0%);
}

.trowser > footer {
    background-color: rgb(64, 95, 107);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    width: 100%;
    text-align: center;
}

.trowser > .content {
    margin-top: 50px;
    min-height: calc(100% - 50px);
    margin-bottom: -50px;
}

.trowser > .content:after {
    content: "";
    display: block;
}

.trowser > footer,
.trowser > .content:after {
    height: 50px;
    line-height: 50px;
}
